jobs:
 - template: default.yml@templates
   parameters:
     minrust: 1.40.0 # map_get_key_value
 - template: coverage.yml@templates
   parameters:
     token: $(CODECOV_TOKEN_SECRET)
     doctests: true

resources:
  repositories:
    - repository: templates
      type: github
      name: crate-ci/azure-pipelines
      ref: refs/heads/v0.3
      endpoint: jonhoo
